.col-md-12:nth-child(1) {
    height: 50px;
    margin-top: 20px;
}

.col-md-12:nth-child(2) {
    height: 200px;
    margin-top: 20px;
}

.col-md-3 {
    height: 100px;
}

.row {
    padding: 10px;
}

body {
    font-size: 20px;
}