
.col-md-12:nth-child(1) {
    height: 50px;
    margin-bottom: 20px;
}

.col-md-3:nth-child(1) {
    height: 130px;
    margin: 0px 10px 0px 0px
}

.col-md-7 {
    height: 150px;
    margin-right: 10px;
}

.col-md-2 {
    height: 130px;
    margin-top: 20px;
}

.row {
    padding: 10px;
}